<div class="project-detail">
  <div class="project-detail__header">
    <h1 class="project-detail__title"><%= @project.title %></h1>
    <p class="project-detail__description"><%= @project.description %></p>

    <div class="project-detail__status">
      <span class="font-semibold">Status:</span>
      <%= form_with(model: @project, class: "flex items-center gap-2") do |f| %>
        <%= f.select :status, Project.statuses.keys, { selected: @project.status }, class: "form__input", onchange: "this.form.submit()" %>
      <% end %>
    </div>
  </div>

  <div class="project-comments">
    <h2 class="project-comments__header">Conversation History</h2>

    <div class="project-comments__form">
      <%= form_with(model: [@project, Comment.new], class: "form__container") do |f| %>
        <div class="form__field">
          <%= f.text_area :content, rows: 3, class: "form__input", placeholder: "Add a comment..." %>
        </div>

        <%= f.submit "Post Comment", class: "button" %>
      <% end %>
    </div>

    <div class="project-comments__list">
      <% @project.conversation_items.each do |item| %>
        <% if item.is_a?(Comment) %>
          <%= render "comments/comment", comment: item %>
        <% else %>
          <%= render "project_histories/history", history: item %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
