<header class="navbar">
  <div class="navbar__content">
    <%= link_to 'Home', root_path, class: 'navbar__brand' %>

    <nav class="navbar__links">
      <% if current_user %>
        <%= link_to 'Projects', projects_path, class: 'navbar__link' %>
        <%= button_to 'Logout', logout_path, method: :delete, class: 'navbar__link' %>
      <% else %>
        <%= link_to 'Login', login_path, class: 'navbar__link' %>
        <%= link_to 'Sign Up', signup_path, class: 'navbar__link' %>
      <% end %>
    </nav>
  </div>
</header>
